<a href="https://colab.research.google.com/github/nikhilbhatewara/CodeSnippets/blob/master/GeoCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install reverse_geocoder

Collecting reverse_geocoder
  Downloading https://files.pythonhosted.org/packages/0b/0f/b7d5d4b36553731f11983e19e1813a1059ad0732c5162c01b3220c927d31/reverse_geocoder-1.5.1.tar.gz (2.2MB)
    100% |████████████████████████████████| 2.3MB 10.3MB/s
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from reverse_geocoder) (1.16.3)
Requirement already satisfied: scipy>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from reverse_geocoder) (1.2.1)
Building wheels for collected packages: reverse-geocoder
  Building wheel for reverse-geocoder (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/47/05/50/b1350ff094ef91e082665b4a2f9ca551f8acea4aa55d796b26
Successfully built reverse-geocoder
Installing collected packages: reverse-geocoder
Successfully installed reverse-geocoder-1.5.1

In [6]:
pip install pprint

Collecting pprint
  Downloading https://files.pythonhosted.org/packages/99/12/b6383259ef85c2b942ab9135f322c0dce83fdca8600d87122d2b0181451f/pprint-0.1.tar.gz
Building wheels for collected packages: pprint
  Building wheel for pprint (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/42/d4/c6/16a6495aecc1bda5d5857bd036efd50617789ba9bea4a05124
Successfully built pprint
Installing collected packages: pprint
Successfully installed pprint-0.1

In [7]:
pip install csv

Collecting csv
  Could not find a version that satisfies the requirement csv (from versions: )
No matching distribution found for csv

In [0]:
import io
import reverse_geocoder as rg
import pprint as pp
import csv
import pandas as pd

In [39]:
from google.colab import files
uploaded = files.upload()

Saving dbf_2014_TableToExcel.csv to dbf_2014_TableToExcel.csv

In [0]:
df = pd.read_csv(io.BytesIO(uploaded['dbf_2014_TableToExcel.csv']))

In [41]:
pp.pprint(df[0:5])

   OBJECTID    lon    lat         time  sc_PDSI_pm
0      2716 -73.75 -53.75  2014.041626   -3.375655
1      2717 -71.25 -53.75  2014.041626   -3.134170
2      2718 -68.75 -53.75  2014.041626   -2.020308
3      2719 -66.25 -53.75  2014.041626    3.744959
4      2720 -73.75 -51.25  2014.041626   -5.229980

In [50]:
df.columns

Index(['OBJECTID', 'lon', 'lat', 'time', 'sc_PDSI_pm'], dtype='object')

In [65]:
df.iloc[0:5,1:3].values

array([[-73.75, -53.75],
       [-71.25, -53.75],
       [-68.75, -53.75],
       [-66.25, -53.75],
       [-73.75, -51.25]])

In [0]:
tuples = [tuple(x) for x in df.iloc[:,1:3].values]

In [0]:
results = rg.search(tuples)

In [0]:
rows = []
for idx, city in enumerate(tuples):
    write_row = []
    lat = city[0]
    lon = city[1]
    gdata = results[idx]
    rows.append([lat,lon,gdata['name'],gdata['admin1'],gdata['admin2'],gdata['cc']])

In [0]:
resultspd = pd.DataFrame(rows, columns=['lat','lon','name','admin1','admin2','cc'])

In [70]:
resultspd.head(5)

     lat    lon     name admin1 admin2  cc
0 -73.75 -53.75  Stanley                FK
1 -71.25 -53.75  Stanley                FK
2 -68.75 -53.75  Stanley                FK
3 -66.25 -53.75  Stanley                FK
4 -73.75 -51.25  Stanley                FK

In [72]:
resultspd.head(10)

     lat    lon       name admin1 admin2  cc
0 -73.75 -53.75    Stanley                FK
1 -71.25 -53.75    Stanley                FK
2 -68.75 -53.75    Stanley                FK
3 -66.25 -53.75    Stanley                FK
4 -73.75 -51.25    Stanley                FK
5 -71.25 -51.25    Stanley                FK
6 -58.75 -51.25    Stanley                FK
7 -76.25 -48.75  Grytviken                GS
8 -73.75 -48.75  Grytviken                GS
9 -71.25 -48.75  Grytviken                GS

In [0]:
df.loc[:,'cc'] = resultspd.loc[:,'cc']

In [77]:
df.head(10)

   OBJECTID    lon    lat         time  sc_PDSI_pm  cc
0    2716.0 -73.75 -53.75  2014.041626   -3.375655  FK
1    2717.0 -71.25 -53.75  2014.041626   -3.134170  FK
2    2718.0 -68.75 -53.75  2014.041626   -2.020308  FK
3    2719.0 -66.25 -53.75  2014.041626    3.744959  FK
4    2720.0 -73.75 -51.25  2014.041626   -5.229980  FK
5    2721.0 -71.25 -51.25  2014.041626   -2.508656  FK
6    2722.0 -58.75 -51.25  2014.041626   -7.368047  FK
7    2723.0 -76.25 -48.75  2014.041626   -7.466280  GS
8    2724.0 -73.75 -48.75  2014.041626   -6.106240  GS
9    2725.0 -71.25 -48.75  2014.041626   -1.709870  GS

In [0]:
df.to_csv('dbf_2014_TableToExcel_Geo.csv')

In [0]:
# or any other file as usual
# with open('example.csv', 'w') as f:
#   f.write('your strings here')

files.download('dbf_2014_TableToExcel_Geo.csv')