<a href="https://colab.research.google.com/github/nikhilbhatewara/CodeSnippets/blob/master/iso_geo_mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import io

In [3]:
from google.colab import files
uploaded = files.upload()

Saving iso_cc_csv.csv to iso_cc_csv (1).csv
Saving MEPVv2017.csv to MEPVv2017.csv

In [0]:
iso_cc = pd.read_csv(io.BytesIO(uploaded['iso_cc_csv.csv']))

In [0]:
mepv = pd.read_csv(io.BytesIO(uploaded['MEPVv2017.csv']))

In [6]:
iso_cc.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

In [7]:
mepv.head()

,scode,ccode,country,year,ind,intind,intviol,intwar,civviol,civwar,...,inttot,civtot,actotal,nborder,region,nregion,afrreg,regcon,muslim,soccap
0,AFG,700,Afghanistan,1946,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,6.0,4.0,0.0,6.0,2,1
1,AFG,700,Afghanistan,1947,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,6.0,5.0,0.0,6.0,2,1
2,AFG,700,Afghanistan,1948,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,6.0,7.0,0.0,6.0,2,1
3,AFG,700,Afghanistan,1949,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,6.0,9.0,0.0,6.0,2,1
4,AFG,700,Afghanistan,1950,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,6.0,9.0,0.0,6.0,2,1

In [8]:
iso_cc['Name'].isin(mepv['country']).value_counts()

True     145
False    104
Name: Name, dtype: int64

In [9]:
mepv['country'].isin(iso_cc['Name']).value_counts()

True     8322
False    1570
Name: country, dtype: int64

In [0]:
iso_cc.columns = ['country','code']

In [0]:
result = pd.merge(mepv,iso_cc,
                 on='country', 
                 how='left')

In [21]:
result.loc[:,['scode','country','year','actotal','code']].tail()

     scode   country  year  actotal code
9887   ZIM  Zimbabwe  2013      0.0   ZW
9888   ZIM  Zimbabwe  2014      0.0   ZW
9889   ZIM  Zimbabwe  2015      0.0   ZW
9890   ZIM  Zimbabwe  2016      0.0   ZW
9891   ZIM  Zimbabwe  2017      0.0   ZW

In [28]:
result.scode.nunique()

180

In [29]:
result.code.nunique()

144

In [0]:
missingcodes = result[result.code.isnull() == True ]

In [51]:
missingcodes.head()

,scode,ccode,country,year,ind,intind,intviol,intwar,civviol,civwar,...,civtot,actotal,nborder,region,nregion,afrreg,regcon,muslim,soccap,code
915,BOL,145,Bolivia,1946,1,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,5.0,8.0,11.0,0.0,8.0,0,2,NaN
916,BOL,145,Bolivia,1947,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,8.0,11.0,0.0,8.0,0,2,NaN
917,BOL,145,Bolivia,1948,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,8.0,11.0,0.0,8.0,0,2,NaN
918,BOL,145,Bolivia,1949,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,8.0,11.0,0.0,8.0,0,2,NaN
919,BOL,145,Bolivia,1950,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,8.0,11.0,0.0,8.0,0,2,NaN

In [54]:
missingcodes.groupby(['scode','country']).size().reset_index()

   scode                country   0
0    BOL                Bolivia  72
1    BOS                 Bosnia  26
2    CEN  Central African Repub  56
3    CON      Congo Brazzaville  58
4    CZE         Czechoslovakia  47
5    DRV          Vietnam North  22
6    ETM             East Timor  16
7    GDR           Germany East  42
8    GFR           Germany West  42
9    GNB          Guinea Bissau  56
10   IRN                   Iran  72
11   IVO            Ivory Coast  58
12   KOS                 Kosovo  12
13   LAO                   Laos  64
14   MAC              Macedonia  25
15   MLD                Moldova  27
16   MYA        Myanmar (Burma)  70
17   NAM                Namibia  53
18   PRK            Korea North  70
19   ROK            Korea South  70
20   RUS                 Russia  27
21   RVN          Vietnam South  22
22   SDN          (North) Sudan   7
23   SYR                  Syria  72
24   TAW                 Taiwan  69
25   TAZ               Tanzania  57
26   TRI               Trinidad  56
27   USR    USSR (Soviet Union)  45
28   VEN              Venezuela  72
29   VIE                Vietnam  51
30   YAR            Yemen North  45
31   YGS  Serbia and Montenegro   3
32   YGS             Yugoslavia  11
33   YPR            Yemen South  24
34   YUG             Yugoslavia  46
35   ZAI         Congo Kinshasa  58

[Reference for codes(https://www.iso.org/obp/ui/#search)



BOL | BO

BOS | BA

CEN | CF

CON | CD

CZE | CZ

DRV | VN

ETM | TL